body{
    background-color: #5F7161;
}
.container{
    height: 400px;
    width: 927px;
    margin: 118px 0 0 215px;
    background-color:#475448 ;
    border-radius: 8px;
}
.conteudo{
   padding: 20px;
}
.conteudo #titulo{
    margin-left: 90px;
    margin-top: 70px;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color:#FFFFFF;
    
}
.conteudo #texto{
    width: 700px;
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #F8F8F8;

}